@page
@model ShopeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Start your order here</h1>
    <h2>Add to cart your desirable food itmes</h2> 
     <table class="table table-hover">
  <thead class="table-dark">
    <tr>
    @* the header of the table *@
      <th scope="col">Item Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Costumer's Rating</th>
    </tr>
  </thead>
  </div> 

